extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code CSS borders for beginners';
    var myDescription = 'CSS borders is easy and fun to learn!';
    var landingPage = 'CSS';
    var activeLink = '/css/borders';
    
block awesome-content
  h1=myTitle
  p=myDescription
  h2 CSS Borders