extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code Java Script Comments for beginners';
    var myDescription = 'Javascript Commnets is easy and fun to learn!';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/comments';
    
block awesome-content
  h1=myTitle
  p=myDescription
  h2 JavaScript Comments
  