extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code Java Script Operators for beginners';
    var myDescription = 'Javascript Operators is easy and fun to learn!';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/operators';
    
block awesome-content
  h1=myTitle
  p=myDescription
  h2 JavaScript Operators