extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code Java Script Variables for beginners';
    var myDescription = 'Javascript Variables is easy and fun to learn!';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/variables';
    
block awesome-content
  h1=myTitle
  p=myDescription
  h2 JavaScript Variables