extends ../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code Java Script for beginners';
    var myDescription = 'Javascript is easy and fun to learn!';
    var landingPage = 'JavaScript';
    var activeLink = '';
    
block awesome-content
  h1=myTitle
  p=myDescription
  h2 JavaScript Comments
  p JavaScript Comments can be used to explain the code.
  p JavaScript Comments can be used to prevent execution.
  h2 JavaScript Variables 
  p JavaScript Variables are containers for storing data values.
  h2 JavaScript Operators
  p Can perform artimethic on numbers.