extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code CSS backgrounds for beginners';
    var myDescription = 'CSS backgrounds is easy and fun to learn!';
    var landingPage = 'CSS';
    var activeLink = '/css/backgrounds';
    
block awesome-content
  h1=myTitle
  p=myDescription
  h2 CSS Backgrounds