extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code Headings for beginners';
    var myDescription = 'Headings are important in HTML';
    var landingPage = 'HTML';
    var activeLink = '/html/headings';
    
block awesome-content
  h1=myTitle
  p=myDescription
  h2 Example 

  h1 This is a cool heading 1
  h2 This is a cool heading 2
  h3 This is a cool heading 3
  h4 This is a cool heading 4
  h5 This is a cool heading 5