extends _component/layout/template

block cool-config
  -
    var myTitle = 'Learn to code HTML, CSS and JavaScript';
    var myDescription = 'This is an HTML replica of w3schools';
    var landingPage = 'Home';
    var activeLink = '';
    
block awesome-content
  h1 This is replica of w3schools.com
  p  It's awesome. 
  h2 HTML
  p The language of building web pages. #[a(href="/html") Check it out!]
  h3 CSS
  p The language of styling web pages. #[a(href="/css") Discover the way up!]
  h4 JavaScript
  p The language for programming web pages. #[a(href="/javascript") Amazing!]